{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">


    <title>{% block title %}Family History Baby Name Recommender {% endblock title %}</title>
    
    {% block stylesheets %}
        <!-- For all browsers -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock stylesheets %}
</head>
<body>
    <section id="headersection">
        <div class="row">
            <div id="ribbon"></div>
            {% if request.session.logged_in %}
            <div id="leftheader">
                <div id="greetings">
					<span>WELCOME</span> {{ person.givenName|upper }}
					<a href="{% url 'accounts:logout' %}" id="a-logout">Logout</a>
				</div>
            </div>
            {% block content_filter %}
            <div id="rightheader">
                <nav>
                    <ul>
                        <li><a href="#" onclick="loadAncestry('male','all')">Boy Names</a></li>
                        <li><a href="#" onclick="loadAncestry('female','all')">Girl Names</a></li>
                        <li><a href="#" onclick="loadAncestry('all','all')">All Names</a></li>
                    </ul>
                </nav>
            </div>
            {% endblock content_filter %}
            {% endif %}
        </div>
    </section>
    
    <section id="mainsection">
        <!-- <div class="row"> -->
            {% block content %}{% endblock content %}
        <!-- </div> -->
    </section>
    
    <section id="footersection">
        <div class="row">
            <div id="elephant"></div>
        </div>
    </section>
    
    {% block js %}
        <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script>
        function centerModal(modal) {
            $(modal).css('display', 'block');
            var $dialog = $(modal).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            if(offset<10) offset=10;
            $dialog.css("margin-top", offset);
        }
        </script>
    {% endblock js %}

</body>
</html>
