{% load static %}
{% for person in ancestry %}
    {% if request.GET.gender == 'male' and person.display.gender == 'Male' or request.GET.gender == 'female' and person.display.gender == 'Female' or request.GET.gender == 'all' %}
    <div class="col-md-2 col-sm-3 col-xs-6 {% if forloop.first or forloop.counter0|divisibleby:5 %}col-md-offset-1{% endif %}">
        <div onclick="getPersonInfo('{{ person.id }}')" class="box" data-toggle="modal" data-target="#modal-info" style="cursor:pointer">
		    <img src="{% static 'images/avatar_blank.png' %}" class="avatar" />
		    <div class="overlay">
		        {% if request.GET.names == 'all' %}
		        <p>{{ person.display.name }}</p>
		        {% elif request.GET.names == 'last' %}
		        <p>
		        {% for last_name in person.names.0.nameForms.0.parts %}
		            {% if forloop.last %}
		            {{ last_name.value }}
		            {% endif %}
		        {% endfor %}
		        </p>
		        {% endif %}
		    </div>
	    </div>
    </div>
    {% endif %}
{% empty %}
<div>No data found</div>
{% endfor %}
