{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block content %}
	<div class="row"><div id="ancestor_container"></div></div><br>

    <div class="row"><div class="center feedback"><a href="/family-tree/comments/" id="leave-comments">Leave Feedback</a></div></div>

	<div class="row">
		<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" id="person_container"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            loadAncestry('all','all');
        });
        
        function getPersonInfo(person_id) {
            $('#person_container').html(
                '<img src="{% static 'images/standard/loading32.gif' %}"> Loading...');
            
            centerModal('#modal-info');
            $('#person_container').load('/family-tree/person/'+person_id, function(){
            	centerModal('#modal-info');
            });
        }
        
        function loadAncestry(gender, names){
            var person_id = '{{ person.personId }}';
            var param = '/?gender='+gender+'&names='+names;

            $('#ancestor_container').html(
                '<img src="{% static 'images/standard/loading32.gif' %}"> Loading data...');
            // console.log('/family-tree/ancestor/'+person_id+param);
            $('#ancestor_container').load('/family-tree/ancestor/'+person_id+param);
        }

		
		//expand the story
		//$('.story .summary span').on('click', function(){
		$('#person_container').on('click', '.summary span', function(){
			var story = $(this).parents('.story');
			$(story).find('.summary').hide();
			$(story).find('.full').show();
		});		
		$('#person_container').on('click', '.full span', function(){
			var story = $(this).parents('.story');
			$(story).find('.full').hide();
			$(story).find('.summary').show();
		});		
    </script>
{% endblock js %}
