{% load static %}
{% load url from future %}
<div class="head">
    <div class="avatar"><img src="{% static 'images/avatar.png' %}" /></div>
	<div class="person-info">
		<p class="name">{{ person.display.name }}</p>
		<p class="born">{{ person.display.birthDate }}</p>
	</div>
	<div class="clearfix"></div>
</div>
<div class="bio">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</div>
<div class="readmore">
    <!-- <a href="http://lds.org" target="_blank">Read more at LDS.org &gt;</a> -->
    <a href='https://www.lds.org/search?lang=eng&query={{ person.display.name|truncatewords:1|cut:"..." }}' target="_blank">Read more at LDS.org &gt;</a>
</div>
<div class="meaning">
    <a href='http://www.behindthename.com/names/search.php?terms={{ person.display.name|truncatewords:1|cut:"..." }}' target="_blank">{{ person.display.name|truncatewords:1|cut:"..." }} meaning at BehindTheName.com &gt;</a>
</div>
