{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block content %}
<div class="row">
    <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="login_container">
                    <div id="welcome-text">
                    <p>Welcome to BabyAncestry.com!<br>
                        We will automatically scan your family<br>
                        history and create a list of name suggestions<br>
                        for your new little one.</p>
                    <p>To get started, simply log in to<br>
                        Family Search Database, where you will be<br>
                        momentarily re-routed from our site.</p>
                    <div id="loginbutton">
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            <button id="go-login">Log In &gt;</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#modal-login').modal({backdrop: 'static'});
            $('#modal-login').on('shown.bs.modal', function() {
                centerModal('#modal-login');
            });
        });
    </script>
{% endblock js %}
