{% extends "base.html" %}
{% load static %}
{% load url from future %}

{% block content %}
<div id="login" method="post">
	<p>Welcome to BabyAncestry.com, where we automatically scan your family history and create a list of name suggestions for your new little one.</p>
	<p>To get started, simply log in to Family Search Database, where youll be momentarily re-routed from our site.</p>
	<div id="loginbutton">
	    <form method="post" action="{% url 'accounts:login' %}">
	        {% csrf_token %}
	        <button id="go-login">Log In &gt;</button>
	    </form>
	</div>
</div>
{% endblock content %}
