/**
* Base stylesheet
*
* Content:
* 1. Global
* 2. Main layout elements
* 3. Modal
* 4. Login
*
 */


/********************************************************/
/*                       1. Global                      */
/********************************************************/

body {
	background-color: #fff;
	padding: 0;
	margin: 0 auto;
	color: #000;
	font-family: Helvetica;
	/* max-width: 1366px; */
}

a {
	color: #000;
}
ul, ol {
	padding: 0;
}

/********************************************************/
/*                2. Main layout elements               */
/********************************************************/

#headersection, #mainsection, #footersection {
	padding-left: 15px; padding-right: 15px;
}

#headersection > .row, #mainsection > .row, #footersection > .row {
	/* margin-left: 0px; margin-right: 0px; */
}

#headersection {
	background: url(../images/browsers/header.png) repeat-x center top;
	position: relative;
}
#ribbon {
	text-align: center;
}
#leftheader {
	padding-bottom: 10px;
}
@media screen and (max-width:590px) {
#headersection {
	background-size: 230%;
}
#ribbon img{
	margin-top: 16.5%;
	width: 80%;
}
.home #ribbon img{
	margin-bottom: 15%;
}
#leftheader {
	/* padding-bottom: 15px; */
}
}
@media screen and (min-width:591px) {
#headersection {
	min-height: 264px;
}
#ribbon img{
	margin-top: 96px;
	width: 412px;
}
#leftheader {
	margin-top: 0;
}
#rightheader {
	margin-top: -2px;
}
}

@media screen and (min-width:1025px) {
#ribbon img{
	width: 445px;
}
#leftheader {
	margin-top: -8px;
}
#rightheader {
	margin-top: -10px;
}
}

#leftheader {
	float: left;
}

#greetings {
	font-size: 20px;
}

#greetings span {
	font-weight: bold;
	color: #3a3939;
}

#rightheader {
	float: right;
}

#mainsection {
	/* min-height: 100px; */
	min-height: 280px;
}

#footersection {
	min-height: 154px;
	position: relative;
}
#footersection > .row {
	background: #fff url(../images/browsers/footer.png) repeat-x center;
	height: 154px;
	/* position: fixed;
	bottom: 0;
	right: 0;
	left: 0; */
	-webkit-box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -2px 7px -3px rgba(0,0,0,0.75);
}

#ribbon, #elephant {
	min-width: 10px;
	min-height: 10px;
	margin: 0 auto;
}

#elephant {
	background: url(../images/browsers/elephant.png) no-repeat center;
	width: 118px;
	height: 83px;
	margin-top: 33px;
}

#rightheader nav li {
	list-style: none;
	display: inline-block;
	padding: 7px 0;
}

#rightheader nav li a, #a-logout, #leave-comments {
	padding: 5px;
	border: 2px solid #808080;
	border-radius: 10px;
	background-color: #fff;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

#a-logout {
	margin-left: 10px;
}


#rightheader nav li.active a {
	background-color: #FFFFA5;
}

#rightheader nav li a:hover, #a-logout:hover, #leave-comments:hover {
	background-color: #FFFFA5;
	color: #000;
}
.center {
	text-align: center;
}

/********************************************************/
/*                         3. Modal                     */
/********************************************************/

.box-cont {
	width: 152px;
	margin: auto;
	/* height: 152px; */
	height: 186px;
}
.box {
	/* background-color: orange; */
	border: 1px solid transparent;
	margin: 10px 0px;
	position: relative;
	overflow: hidden;
	height: 100%;
}

.box img.avatar {
	width: 100%;
}

.box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	right: 0;
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	vertical-align: middle;
	/* padding-top: 35%; */
	background-color: transparent;
	border: 1px solid transparent;
}
.box .overlay:hover {
	background-color: rgba(255,255,255,0.25);
	border-color: #999;
	border-radius: 4px;
}

.box .overlay > p {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	margin-bottom: 0px;
	border-radius: 4px;
}

.modal-backdrop.fade {
	opacity: 0.2;
}

.modal-content {
	box-shadow: none;
}

.modal-content .head .avatar {
	width: 37%;
	float: left;
}

.modal-content .head .person-info {
	width: 63%;
	float: left;
}

.modal-content .head img {
	width: 100%;
	max-width: 120px;
}

.modal p.name {
	font-size: 20px;
	margin: 0;
}

.modal-content .person-info {
	text-align: center;
	padding-top: 28px;
}

.modal-content .head, .modal-content .readmore, .modal-content .bio {
	margin-bottom: 15px;
}

.modal-dialog {
	margin-top: 15%;
}


/********************************************************/
/*                        4. Login                      */
/********************************************************/

#login {
	margin: 5px auto;
	width: 400px;
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 15px;
}

#loginbutton {
	text-align: center;
	padding: 0px;
}

#go-login {
	text-decoration: none;
	padding: 2px 11px;
	border: 2px solid #aaa;
	border-radius: 10px;
	background-color: #97dbea;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
}

#go-login:hover {
	border-color: #555;
}

.summary span, .full span {
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 3px;
  padding: 2px 10px;
}
.summary span {
  background: #999 url(../images/standard/chevron_down.png) no-repeat center;
}
.full span {
  background: #999 url(../images/standard/chevron_up.png) no-repeat center;
}

.summary span:hover, .full span:hover {
	background-color: #555;
}
.story h4 {
	margin-top: 15px;
	margin-bottom: 4px;
}

@media screen and (min-width:1100px) {
	#leftheader, #rightheader {
		margin-top: -20px;
	}
	#leftheader {
		margin-top: -18px;
	}
	#ribbon {
		/* margin-top: 105px; */
		background-size: 100% 100%;
	}
}

@media (min-width:1366px) {
	.container {
		width:1300px;
	}
}

#modal-info .modal .modal-body {
	height: 500px;
	overflow-y: auto;
}

.feedback {
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	#modal-info .modal-dialog {
		width: auto!important;
		margin: 5%;
	}
}
@media (max-width: 280px){
#elephant {
  background-size: 100%;
  width: 60px;
  height: 40px;
  margin-top: -10px;
}
#footersection > .row {
  height: 74px;
  background-size: 230%;
}
}
@media (min-width: 281px) and (max-width: 330px){
#elephant {
  background-size: 100%;
  width: 74px;
  height: 48px;
  margin-top: -10px;
}
#footersection > .row {
  height: 87px;
  background-size: 230%;
}
}
@media (min-width: 331px) and (max-width: 420px){
#elephant {
  background-size: 100%;
  width: 100px;
  height: 63px;
  margin-top: -10px;
}
#footersection > .row {
  height: 110px;
  background-size: 230%;
}
}
@media (min-width: 421px) and (max-width: 480px){
#elephant {
  background-size: 100%;
  width: 110px;
  height: 70px;
  margin-top: -10px;
}
#footersection > .row {
  height: 120px;
  background-size: 230%;
}
}
@media (min-width: 481px) and (max-width: 568px){
#footersection > .row {
  height: 148px;
  background-size: 230%;
}
#elephant {
  background-size: 100%;
  width: 122px;
  height: 76px;
  margin-top: -15px;
}
}
@media screen and (max-width: 480px){
	#leftheader, #rightheader {
		width: 100%;
		text-align: center;
	}
}
#modal-login .modal-content {
	min-width: 320px;
}
#login_container {
	text-align: center;
	background: url(../images/browsers/login-border.png) center no-repeat;
}
#welcome-text {
	padding-top: 122px;
	min-height: 410px;
}